body {
    font-family: 'Antic Slab', serif;
}

.row {
    margin: 40px;
}

li {
    list-style: none;
    margin: 10px;
}

a {
    text-decoration: none;
}

/*----------------------------------Propre au Caroussel---------------------------------------------*/
.carousel-inner img {
    width: 100vw;
    height: 92vh;

}

/*----------------------------------Propre à la page CV---------------------------------------------*/
.competences li {
    margin: 5px;
}
/*----------------------------------Propre à la page Projets-----------------------------------------*/
.projets {
    height: 200px;
    margin-bottom: 10px;

}


h4 {
    margin: 50px;
}
/*--------------------------------------------NavBar--------------------------------------------------*/
i {
    color: white;
    font-size: 0.8em;
}
nav {
    height: 50px;
}

/*------------------------------------------ProgessBar------------------------------------------------*/
.progress {
    width: 400px; 
    margin: 50px auto;
}
.barhtmlcss {
    max-width: 80%;
}
.barphp {
    max-width: 20%;
}
.barjs {
    max-width: 10%;
}
.barillustrator {
    max-width: 80%;
}
.barphotoshop {
    max-width: 60%;
}
.barae {
    max-width: 40%;
}
.baranglais {
    max-width: 90%;
}
.barallemand {
    max-width: 70%;
}
.progress-bar {
    width: 0;
    animation: progress 1.5s ease-in-out forwards;
}
    .title {
      opacity: 0;
      animation: show 0.35s forwards ease-in-out 0.5s;
    }
 
  
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 
  @keyframes show  {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
/*-----------------------------------------Media Queries-----------------------------------------------*/
@media only screen and (max-width: 992px) {
    .navbar,
    .nav-link {
        text-align: center !important;
    }
    .navbar ul {
        background-color: #dc3545;
    }
    .navbar-brand {
        display: none;
    }
    .carousel-inner img {
        height: 388px;

    }
}
